-namespace name="widgets" file="baka:templates/widgets/_components.html" inheritable="True"

doctype 5
html lang="${request.locale_name}"
  head
    meta charset="utf-8"
    title
      = '{0}•{1}•'.format(self.page_title(), _("Surabaya.py"))


    meta name="viewport" content="width=device-width"
    meta name="description" content="Surabaya.py adalah komunitas python di surabaya"
    meta name="author" content="nanang suryadi"

    meta name="keywords" content="surabaya, python, pyramid, django, flask, baka, python id"

    meta property="fb:app_id" content="1097973643682772"

    meta property="og:site_name" content="Surabaya.py"
    meta property="og:url" content="http://surabaya.python.or.id/"
    meta property="og:type" content="website"
    meta property="og:title" content=${'{0}•{1}•'.format(self.page_title(), _("Surabaya.py"))}
    meta property="og:description" content="Surabaya.py adalah komunitas python di surabaya"
    meta property="og:image" content="http://surabaya.python.or.id/static/img/logo-text.jpg"

    link rel="icon" type="image/ico" href="/static/favicon.ico"

    -for url in request.web_env['css-vendor'].urls():
      / untuk sementara ikut egg induk
      ${h.tags.stylesheet_link(static(url))}

    -block css
    -if ga_tracking_id:
      <!-- Google Analytics -->
      <script async src='//www.google-analytics.com/analytics.js'></script>
      script
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-${ga_tracking_id}', '${ga_cookie_domain}');
        ga('send', 'pageview');

  body
    -include _navigation.html
    -include _flashbar.html

    .container
      ${self.body()}

    -include _footer.html

    -for url in request.web_env['js-vendor'].urls():
      ${h.tags.javascript_link(static(url))}

    -for url in request.web_env['kara-ui'].urls():
      ${h.tags.javascript_link(static(url))}

    -for url in request.web_env['baka-js'].urls():
      ${h.tags.javascript_link(static(url))}

-def page_title()
  = ''