-namespace name="widgets" file="baka:templates/widgets/_components.html" inheritable="True"

doctype 5
html lang="${request.locale_name}"
  head
    meta charset="utf-8"
    title
      == _("Surabaya.py")
      == self.title()

    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta name="description" content=""
    meta name="author" content=""

    link rel="icon" type="image/ico" href="/static/favicon.ico"

    -for url in request.web_env['css-vendor'].urls():
      / untuk sementara ikut egg induk
      ${h.tags.stylesheet_link(static(url))}

    -block css

  body
    -include _navigation.html
    .container
      ${self.body()}

    -include _footer.html


-def title()
  = ''