-namespace name="widgets" file="baka:templates/widgets/_components.html" inheritable="True"

doctype 5
html lang="${request.locale_name}"
  head
    meta charset="utf-8"
    title
      == _("Surabaya.py")
      == self.title()

    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta name="description" content="Surabaya.py adalah komunitas python di surabaya"
    meta name="author" content="nanang suryadi"

    meta name="keywords" content="surabaya, python, pyramid, django, flask, baka, python id"

    meta property="fb:app_id" content="1097973643682772"

    meta property="og:site_name" content="Surabaya.py"
    meta property="og:url" content="http://surabaya.python.or.id/"
    meta property="og:type" content="website"
    meta property="og:title" content="Surabaya.py ${self.title()}"
    meta property="og:description" content="Surabaya.py adalah komunitas python di surabaya"
    meta property="og:image" content="http://surabaya.python.or.id/static/img/logo-text.png"

    link rel="icon" type="image/ico" href="/static/favicon.ico"

    -for url in request.web_env['css-vendor'].urls():
      / untuk sementara ikut egg induk
      ${h.tags.stylesheet_link(static(url))}

    -block css

  body
    -include _navigation.html
    .container
      ${self.body()}

    -include _footer.html


-def title()
  = ''