<div id="footer">
  <div class="container">
    <div class="site-footer" role="contentinfo">
      <ul class="site-footer-links float-right">
        <li><a href="#">Made in SUB<i class="fa fa-home fa-fw"></i></a></li>
      </ul>
      <a href="https://github.com/suryakencana" aria-label="404-page" class="site-footer-mark" title="mark-zi">
        <img class="mark-zi" height="24" width="25" src="/assets/mark-zi.png" />
      </a>
      <ul class="site-footer-links">
        <li>© ${ h.common.date_now("%Y")} <span title="">Surabaya.py</span>.</li>
        <li><strong>${_(u'Powered by')} &nbsp;</strong><img height="24" width="24" src="/assets/baka-text.png" /> Baka framework ™ </li>
      </ul>
    </div>
  </div>
</div>