.header.nav-bar
  .container
    .ui-flex
      .f-west
        .left
          a href="#"
            img.logo.inline-box src="/static/img/logo-sby.png"

      .f-east
        .nav-li
          .left
            .pad-nav
              a.nav-a href="https://web.facebook.com/nanang.ask" title="Profile"
                img.box.inline-box.img src="/static/img/mark-zi.jpg" alt="" id="profile_pic_header_1502087947":
                span Surabaya.py
              a.nav-a href="#" title="Register"
                span Join Us!
