.register-bg {
  padding:10px;
  margin-top:65px;
  text-align:center;

  img {width: 70%;}

}

.mb-12 {margin-bottom: 12px;}

.foot_note {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #a6a6a6;
}